# Android
*.apk
*.ap_
*.aab
*.dex
*.class
/build/
/app/build/
/captures/
/externalNativeBuild/
/.cxx/

# Gradle
.gradle/
/config.gradle
local.properties
gradle-app.setting
!gradle-wrapper.jar

# IDE
.idea/
*.iml
/.idea/workspace.xml
/.idea/libraries
/.idea/sonarlint/issuestore
.project
.classpath
.settings/
nbproject/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Signing
*.jks
*.keystore
KeyStore.key

# Release
release/
app/release/

# Project
projectFilesBackup
screen.png

# Proguard
/proguard/
